<section class="container" *ngIf="page$ | async as singlePage; else loading">
  <div class="content">
    <h2 class="title blue primary">{{singlePage.title.rendered}}</h2>
    <br>
    <em>Published: {{singlePage.date}}, Last modified: {{singlePage.modified}} by {{singlePage._embedded.author[0].name}}</em>
    <hr><br>
    <div  [innerHTML]="singlePage.content.rendered">{{singlePage.content.rendered}}</div>
  </div>
</section>
<!-- </ng-container> -->

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
