<div class="container" *ngIf="data | async as post">
    <section class="hero">
        <img
            src="{{
                post.featured_image_src ? post.featured_image_src : defaultImage
            }}"
            alt=""
        />
    </section>
    <section class="content">
        <h3 class="title blue primary">{{ post.title.rendered }}</h3>
        <span class="body" [innerHtml]="post.safeContent"></span>
        <p [innerHTML]="post.content.rendered"></p>
    </section>
    <button (click)="onBack()">Back</button>
</div>
