<div>
    <app-loader *ngIf="loading"></app-loader>
    <div *ngIf="posts">
        <div class="post-module">
            <h2 class="page-title">Recent Posts</h2>
            <div class="posts-container grid-container card-deck">
                <!-- show all posts here -->
                <div class="card-columns">
                  <div class="card" *ngFor="let post of posts">
                        <img
                            class="card-img-top"
                            src="{{ post.featured_image_src ? post.featured_image_src : defaultImage }}"
                            class="card-img-top"
                            alt="clear cut logo"
                        />
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ post.title.rendered }}
                            </h5>
                            <p>{{ post.slug }}</p>
                            <p [innerHTML]="post.excerpt.rendered"></p>
                            <a
                                class="btn btn-primary"
                                routerLink="{{ post.id }}"
                                >Read More</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
