.toolbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}

.toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
}

.toolbar #twitter-logo:hover {
    opacity: 0.8;
}

.menu-links {
    display: inline-block;
    margin-left: 1rem;
    > li {
        display: inline-block;
        padding: 1rem;
        > a {
            color: white;
        }
    }
}

ul.menu-links {
    margin-top: 1rem !important;
}

.content {
  margin: 2em auto;
  padding: 0 2em;
  max-width: 90%;
  align-items: center;
}


.pull-right {
  right: 0;
  position: relative;
}

.mobile-menu {
  display: none;
}


/* ================== RESPONSIVE STYLES ================== */

@media only screen and (max-width: 960px) {
  body {
    background-color: lightblue;
  }

  ul.menu-links {
    display: none;
  }
  .mobile-menu {
    display: inline-flex;
  }

}
